@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(180deg,#01FE43,#53c044);
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    box-shadow: 2px 0px 10px black;
}

nav .menu{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 5px rgb(121, 112, 112);
}

nav .menu ul li {
    list-style: none;
    display: inline-block;
}

nav .menu ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 25px;
}

nav .logo h1{
    color: #ffffff;
}

nav .register button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
}

.register .register-btn{
    color: #ffffff;
    background: linear-gradient(200deg,#01FE43,#333333);
}

.home{
    padding-top: 100px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 20px;
}

.home .block-chain{
    flex: 4;
    align-items: center;
    justify-content: flex-start;
}

.home .blockchain-img{
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
}

.block-chain h1{
    font-size: 50px;
}

.algo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    margin-top: 40px;
}

.algo-paragraph p{
    font-size: 20px;
}

.algo-paragraph{
    justify-content: flex-start;
    padding: 10px 10px;

}

.algo-logo{
    justify-content: center;
}

.block-chain ul li{
    margin-top: 16px;
    margin-left: 23px;
}

.algo-paragraph h2,p{
    margin-top: 20px;
}

footer .footer{
    background-color: black;
    color:#01FE43;
    text-align: center;
    padding: 20px 40px;
    margin-top: 80px;
}

.algo-paragraph ul li{
    margin-top: 20px;
    margin-left: 20px;
}

.algo-paragraph h1{
    font-size: 50px;
}

.active{
    border-bottom: 1px solid white;
}

.hamburger-menu{
    display: none;
}

.hamburger-menu:hover{
    cursor: pointer;
}

.off-canvas{
    width: 50%;
    position: fixed;
    height: 100vh;
    display: none;
    text-align: center;
    margin: auto;
    background-color: #333333;
    transition: all .5s;
    z-index: 1;
    
}

.off-canvas.is-active{
    display: block;
}

.off-canvas h2{
    color: #01FE43;
    margin-block: 20px;
}

.off-canvas ul li a{
    color: #01FE43;
    text-decoration: none;
    font-size: 22px;
}

.off-canvas ul li{
    margin-top: 20px;
}

.hamburger-menu #fa,#fa-cross{
    transition: all .4s;
}

#overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#overlay.is-active{
    display: block;
}

.off-canvas .register-btn,.login-btn{
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 30px;
    background: linear-gradient(90deg,#01FE43,#53c044);
}

.off-canvas .register-btn a,.login-btn a{
    text-decoration: none;
    color: black;
}

@media screen and (width <= 500px) {

    .menu{
        display: none;
    }
    .register{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }
    
    .home{
        padding-top:  80px ;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-inline: 20px;
    }

    .algo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-inline: 30px;
        margin-top: 40px;
    }

    .block-chain h1{
        font-size: 33px;
    }

    .block-chain ul li{
        font-size: 15px;
        margin-top: 10px;
    }

    .blockchain-img img{
        width: 100%;
    }

    .algo-logo img{
        width: 100%;
    }

    .algo-paragraph ul li{
        margin-top: 10px;
        font-size: 16px;
    }
    
    .algo-paragraph h1{
        font-size: 33px;
    }

    .algo-paragraph h2,p{
        margin-top: 10px;

    }

    .algo-paragraph h2{
        font-size: 18px;
    }

    footer .footer{
        margin-top: 30px;
    }
}
