@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bgcolor : #01FE43;
    --textcolor : #01FE43;
    --cbgcolor : #252525;
}

body{
    background: var(--bgcolor)
}

.container1
{
    margin: auto;
    margin-top: 150px;
    width: 40%;
    background-color: var(--cbgcolor);
    color: var(--textcolor);
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cbgcolor);
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 10px var(--cbgcolor);
}

.container-1{
    margin: auto;
    width: 50%;
    margin-top: 50px;
    background-color: var(--cbgcolor);
    color: var(--textcolor);
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cbgcolor);
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 10px var(--cbgcolor);
}

.login-btn1{
    border: 1px solid var(--textcolor);
    border-radius: 5px;
    background-color: var(--cbgcolor);
    padding: 10px 40px;
    font-size: 20px;
    margin-top: 20px;
    color: var(--bgcolor);
    transition: .2s;
}

h2{
    color: var(--textcolor);
}

.login-btn1:hover{
    cursor: pointer;
    border: 1px solid var(--bgcolor);
    border-radius: 5px;
    background-color: var(--bgcolor);
    color: var(--cbgcolor);
    box-shadow: 1px 1px 10px var(--cbgcolor);
}

.user-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 15px;
    position: relative;
}

.user-box input{
    width: 50%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--textcolor);
    border: none;
    border-bottom: 1px solid var(--textcolor);
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

.user-box label {
    position: absolute;
    top: 10px;
    left: 130px;
    padding: 10px 0;
    font-size: 12px;
    color: var(--textcolor);
    pointer-events: none;
    transition: all 0.3s;
    box-shadow: none;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--textcolor);
    margin-top: 10px;
}

form{
    margin-top: 15px;
}

.back-btn1{
    border: 1px solid var(--textcolor);
    border-radius: 10px;
    background-color: var(--cbgcolor);
    text-decoration: none;
    padding: 10px 40px;
    font-size: 20px;
    color: var(--bgcolor);
    transition: .2s;
}

@media (width <= 500px){
    .container1{
        width: 70%;
        
    }

    .container-1{
        width: 80%;
        margin-top: 10px;
    }

    .user-box label{
        left: 50px;
    }

    .user-box input{
        width: 70%;
    }

    .register-box{
        margin-top: 10px;
    }

    .submit-btn{
        margin-bottom: 0px;
    }

}

#check-box p{
    font-size: 10px;
}

.register-box{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

#check-box{
    display: flex;
    flex-direction: row;
}

#check-box p{
    flex: 4;
}

#check-box input{
    flex: .5;
}

#submit-btn:disabled{
    display: none;
}

#submit-btn:not(:disabled){
    display: inline-block;
    border: 1px solid var(--bgcolor);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 30px;
    font-size: 20px;
    color: var(--textcolor);
    transition: .2s;
}

#submit-btn:hover{
    cursor: pointer;
    border: 1px solid var(--cbgcolor);
    border-radius: 5px;
    background-color: var(--bgcolor);
    color: var(--cbgcolor);
    
}


@media (width <= 500px){
    .container{
        width: 70%;
        
    }

    .container-1{
        width: 80%;
        margin-top: 10px;
    }

    .user-box label{
        left: 50px;
    }

    .user-box input{
        width: 70%;
    }

    .register-box{
        margin-top: 10px;
    }

    .submit-btn{
        margin-bottom: 0px;
    }

}

.menu-items a{
    text-decoration: none;
    color: var(--textcolor);
    border: 1px solid #030a20;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 12px;
    margin-right: 10px;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.menu-items a:hover{
    border: 1px solid rgb(255, 244, 244);
}

.menu ul li{
    display: inline-block;
}

/* Dashboard Navigation */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 2px 10px #000;
}

.sidebar a{
    display: block;
    color: #01FE43;
    padding: 8px;
    margin: 16px;
    text-decoration: none;
    transition: all .3s;
}

.sidebar a:active{
    background-color: cyan;
    color: black;
}

.sidebar a:hover:not(.active){
    background-color: #01FE43;
    color: #000;
    border-radius: 6px;
    text-align: center;
}

.sidebar h2{
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media(width<=500px){
    .sidebar{
        display: none;
    }
}


.mobile-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    box-shadow: 2px 0px 10px black;
    display: none;
}

.mobile-menu .menu{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 5px rgb(121, 112, 112);
}

.mobile-menu .menu ul li {
    list-style: none;
    display: inline-block;
}

.mobile-menu .menu ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 25px;
}

.mobile-menu .logo h1{
    color: #ffffff;
}

.mobile-menu .register button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
}

.register .register-btn{
    color: #ffffff;
    background: linear-gradient(200deg,#01FE43,#333333);
}

div.content {
    background-color: #01FE43;
    margin-left: 200px;
    padding: 1px 16px;
}

.hamburger-menu{
    display: none;
}

.hamburger-menu:hover{
    cursor: pointer;
}

.off-canvas{
    width: 50%;
    position: fixed;
    height: 100vh;
    display: none;
    text-align: center;
    margin: auto;
    background-color: #333333;
    transition: all .5s;
    z-index: 1;
    
}

.off-canvas.is-active{
    display: block;
}

.off-canvas h2{
    color: #01FE43;
    margin-block: 20px;
}

.off-canvas ul li a{
    color: #01FE43;
    text-decoration: none;
    font-size: 22px;
}

.off-canvas ul li{
    margin-top: 20px;
}

.hamburger-menu #fa,#fa-cross{
    transition: all .4s;
}

#overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#overlay.is-active{
    display: block;
}

.off-canvas .register-btn,.login-btn{
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 30px;
    background: linear-gradient(90deg,#01FE43,#53c044);
}

.off-canvas .register-btn a,.login-btn a{
    text-decoration: none;
    color: black;
}


@media (width <= 500px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a{float: left;}
    div.content{margin-left: 0;}

    .mobile-menu{
        display: flex;
    }

        .menu{
            display: none;
        }
        .register{
            display: none;
        }
        .hamburger-menu{
            display: block;
        }

        .web-head{
            margin-top: 80px;
        }

}

/* Capture Readings */

.web-head {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.user_form {
    background-color: black;
    color: #01FE43;
    width: 70%;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
    border-radius: 12px;
    position:relative;
}

.user_form label,.user_form li{
    padding: 10px;
}

.user_form li{
    list-style: none;
}


.user_form input{
    width: 70%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--textcolor);
    border: none;
    border-bottom: 1px solid var(--textcolor);
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

.user_form select{
    width: 70%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--textcolor);
    border: none;
    border-bottom: 1px solid var(--textcolor);
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

.user_form select option{
    background-color: #01FE43;
    color: #000;
}

.user_form select option:hover{
    background-color: #000;
    color: #01FE43;
}

.user_form label {
    position: absolute;
    top: 50px;
    left: 130px;
    padding: 10px 0;
    font-size: 12px;
    color: var(--textcolor);
    pointer-events: none;
    transition: all 0.3s;
    box-shadow: none;
}

.user_form input:focus ~ label,
.user_form input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--textcolor);
    margin-top: 10px;
}

#modalopen{
    background-color: #000;
    color: #01FE43;
    border: 1px solid #01FE43;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-inline: 40px;
    padding-block: 10px;
}

#modalopen:hover{
    background-color: #01FE43;
    color: #000;
    border: 1px solid #000;
}

#dup-sub{
    background-color: #000;
    color: #01FE43;
    border: 1px solid #01FE43;
    padding-inline: 20px;
}

#imageCanvas{
    width: 70%;
    margin: auto;
    padding: 6px;
    border: 1px solid #01FE43;
    border-radius: 6px;
}

#imageCanvas2{
    width: 50%;
    margin: auto;
    padding: 6px;
    border: 1px solid #01FE43;
    border-radius: 6px;
}

#retakeBtn{
    background-color: #000;
    color: #01FE43;
    border: 1px solid #01FE43;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-inline: 40px;
    padding-block: 10px;
}

#captureBtn{
    background-color: #000;
    color: #01FE43;
    border: 1px solid #01FE43;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-inline: 40px;
    padding-block: 10px;
}

#close-bottom{
    background-color: #000;
    color: #01FE43;
    border: 1px solid #01FE43;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-inline: 40px;
    padding-block: 10px;
}


#dup-sub:hover{
    background-color: #01FE43;
    color: #000;
    border: 1px solid #000;
}

#close-bottom:hover{
    background-color: #01FE43;
    color: #000;
    border: 1px solid #000;
}

#captureBtn:hover{
    background-color: #01FE43;
    color: #000;
    border: 1px solid #000;
}

#retakeBtn:hover{
    background-color: #01FE43;
    color: #000;
    border: 1px solid #000;
}

@media (width <= 500px){
    .user_form{
        width: 90%;
    }
}




