{% extends 'base2.html' %}\ {% block title %}Dashboard | BioCredit &#128594;{%
endblock title %} {% block content %}
<link
  href="{{url_for('static',filename='dataTables.min.css')}}"
  rel="stylesheet"
/>
<script src="{{url_for('static',filename='dataTables.min.js')}}"></script>
<h1>View reading</h1>
<div class="container table-responsive">
  <table id="example" class="display" style="width: 100%">
    <thead>
      <tr>
        {{th|safe}}
      </tr>
    </thead>
    <tfoot>
      <tr>
        {{th|safe}}
      </tr>
    </tfoot>
  </table>
</div>

<script>
  $(document).ready(function () {
    $("#example").dataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: "{% if role!='user' %}{{url_for('views.modReadings')}}{% else %}{{url_for('views.userReadings')}}{% endif %}",
        data: function (d) {
          d.username = "{{username}}";
        },
      },
      columns: [
        { data: "sno" },
        { data: "date" },
        { data: "username" },
        { data: "reading" },
        { data: "action" },
      ],
      columnDefs: [{ orderable: false, targets: 0 },{ orderable: false, targets: 4 }],
      order: [[1, "asc"]],
    });
  });
</script>
{% endblock content%}
